* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: chocolate;
  overflow-x: hidden;
}
